.App {
    text-align: center;
}

.body-containet {
    display: flex;
    justify-content: center;
    background-color: #f1c2b2;
    width: 1440px;
    min-height: 1378px;
    /* position: relative; */
}