body {
  margin: 0;
  font-family: "Jost";
}

@font-face {
  font-family: "Jost";
  src: local("Jost"), url("./fonts/JostRegular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "JostSemiBold";
  src: local("JostSemiBold"), url("./fonts/JostSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "JostBold";
  src: local("JostBold"), url("./fonts/JostBold.ttf") format("truetype");
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
